.menu-option {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
  position: relative;
}

.menu-option:hover {
  background: linear-gradient(90deg, #ffffff,#aee676 );
}

.menu-label {
  flex-grow: 1;
  font-size: 1.4rem;
  color: #333;
}

.menu-arrow {
  display: none;
  font-size: 1.2rem;
  color: #333;
}

.menu-option:hover .menu-arrow {
  display: inline-block;
}

.logout-button {
    background-color: #ff4d4d; 
    color: white; 
    text-align: center; 
    padding: 15px 20px;
    border-radius: 12px; 
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .logout-button:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }