.pokemon-details-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../assets/bosque.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; /* Asegura que los nubes que se mueven fuera no se vean */
    position: relative; /* Necesario para las nubes animadas */
    z-index: 0; 
}

.pokemon-types-container {
    display: flex; /* Asegura que los tipos estén en línea */
    gap:2px; /* Espaciado entre las imágenes */
    margin-top: 0px;
    margin-bottom: 0px;
}

.type-image {
    width: 35px; /* Ajusta el tamaño según tu diseño */
    height: auto;
    display: block; /* Asegura que la imagen sea visible */
}

.pokemon-fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards; /* Duración del efecto de fundido */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.evolution-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px; /* Ajusta el espacio interno */
    border-radius: 5px;
    border: 1px solid #555;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    text-align: center;
    width: calc(100% - 10px); /* Ocupa todo el ancho disponible menos 10px */
    max-width: 400px; /* Tamaño máximo opcional */
    min-height: 350px; 
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.evolution-modal h3 {
    margin-bottom: 10px;

}

.evolution-modal select {
    margin-bottom: 15px;
    padding: 5px;
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
}

.evolution-modal button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background: #66AA22;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
    width: calc(100% - 10px);
    box-sizing: border-box;
}

.evolution-modal button:hover {
    background: #558a1b;
}


.pokemon-species-image {
    width: 60px;
    height: auto;
    padding: center;
    padding-top: 40px;
}

.pokemon-species-image.training-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: -20px; 
    margin-bottom: 60px;/* Ajusta la posición vertical */
}

/* Imágenes de exploración */
.pokemon-species-image.exploration-image {
    width: 25px;
    height: auto;
    object-fit: contain;
    margin-top: -10px;
    margin-bottom: 50px; /* Ajusta la posición vertical */
}

/* Imágenes de dormir */
.pokemon-species-image.sleeping-image {
    width: 120px;
    height: auto;
    object-fit: contain;
    margin-top: 0; /* Sin desplazamiento vertical */
}

.pokemon-species-image.heal-image {
    width: 0px; /* Ajusta el ancho */
    height: auto; /* Mantiene la proporción */
    object-fit: contain;
    margin-top: 10px; /* Ajusta la posición vertical */
    margin-left: 20px; 
}

.pokemon-species-image.default-image {
    width: 60px;
    height: auto;
    padding: center;
    padding-top: 40px;
}

.healing-gif {
    width: 20px; /* Tamaño del GIF */
    height: auto; /* Mantiene la proporción */
    padding-top: 10px;
    padding-bottom: 70px;
    padding-right: 50px;
    padding-left: 50px;
    animation: floatAndFade 5s ease-in-out forwards; /* Animación de flotación y desaparición */
}

.eating-gif-container {
    position: absolute;
    top: 30px; /* Ajusta la posición vertical */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%);
    z-index: 10; /* Asegura que la imagen esté encima de la imagen del Pokémon */
    pointer-events: none; /* Ignora eventos del ratón */
}

.eating-gif {
    width: 50px; /* Tamaño del GIF */
    height: auto; /* Mantiene la proporción */
    padding-top: 50px;
    padding-left: 20px;
    animation: floatAndFade 5s ease-in-out forwards; /* Animación de flotación y desaparición */
}

.playing-gif-container {
    position: absolute;
    top: 30px; /* Ajusta la posición vertical */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%);
    z-index: 10; /* Asegura que la imagen esté encima de la imagen del Pokémon */
    pointer-events: none; /* Ignora eventos del ratón */
}

.playing-gif {
    width: 20px; /* Tamaño del GIF */
    height: auto; /* Mantiene la proporción */
    padding-top: 50px;
    animation: floatAndFade 5s ease-in-out forwards; /* Animación de flotación y desaparición */
}

/* Animación de flotación y desaparición */
@keyframes floatAndFade {
    0% {
        opacity: 0; /* Comienza invisible */
        transform: translateY(20px); /* Empieza más abajo */
    }
    10% {
        opacity: 1; /* Aparece completamente */
        transform: translateY(0); /* Flota hacia arriba */
    }
    90% {
        opacity: 1; /* Permanece visible */
        transform: translateY(-10px); /* Sigue flotando ligeramente */
    }
    100% {
        opacity: 0; /* Desaparece */
        transform: translateY(-20px); /* Se mueve hacia arriba antes de desaparecer */
    }
}

.sleeping-gif-container {
    position: absolute;
    top: 30px; /* Ajusta la posición vertical */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%);
    z-index: 10; /* Asegura que la imagen esté encima de la imagen del Pokémon */
    pointer-events: none; /* Ignora eventos del ratón */
}

.sleeping-gif {
    width: 40px; /* Tamaño del GIF */
    height: auto; /* Mantiene la proporción */
    padding-top: 20px;
    padding-left: 20px;
}


.logo-image {
    width: 200px; /* Tamaño del logotipo ajustado */
    margin-bottom: 20px; /* Espacio entre el logotipo y el formulario */
    align-self: center;
  }

  .navigation-header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px; /* Ajusta la posición vertical */
    right: 20px; /* Ajusta la posición horizontal hacia la derecha */
    z-index: 3;/* Asegura que esté encima del contenido */
}

.navigation-link {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
    gap: 5px; /* Espacio entre el texto y el icono */
    transition: color 0.2s ease;
}

.navigation-link:hover {
    color: #66AA22; /* Cambia el color al pasar el ratón */
}

.rectangle {
    position: absolute; /* Posicionamiento relativo al contenedor padre */
    top: 50%; /* Centrado verticalmente */
    right: 50px; /* Espaciado desde el borde derecho */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 60%; /* Altura ajustada */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #555;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Ajusta el espacio interno */
    z-index: 2; /* Asegura que esté encima del contenido principal */
    margin-top: 50px;
}

.interactions-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.interaction-item {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    cursor: pointer;
    font-size: 1rem;
    color: #000000;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.interaction-item:hover {
    background-color: #f4f4f4;
    color: #66AA22;
}

.interaction-icon {
    display: none;
    margin-right: 10px;
}

.interaction-item:hover .interaction-icon {
    display: inline-flex;
}

.poke-details-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    max-width: 900px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 0;
}

.pokemon-details-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px; /* Reduce el espacio entre los elementos */
}

.pokemon-details-item span {
    font-weight: bold;
    color: #000;
}


.pokemon-alias-container {
    display: flex;
    align-items: center;
    gap: 0px; /* Espacio entre el icono y el alias */
}

.poke-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.pokemon-alias {
    color: #000;
    font-weight: bold;
    gap: 5px;
}

.pokemon-species {
    color: #666;
}

.separator {
    font-size: 1.2rem;
    color: #000;
    margin: 0 5px
}

.pokemon-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%; /* Ajusta el ancho relativo al contenedor principal */
    max-width: 350px; /* Tamaño máximo para limitar el ancho */
    height: 250px; /* Cambia la altura del contenedor */
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    overflow: hidden; /* Asegura que el contenido no desborde */
    margin-top: 10px;
}

.pokemon-level {
    color: #333;
    margin-bottom: 0px; /* Espacio entre el nivel y la barra PH */
    padding-left: 5px;
    margin-top: 0px;
}

.ph-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: 20px;
    background-color: #d8d8d8;/* Fondo gris oscuro */
    border-radius: 15px;
    overflow: hidden;
    margin-top: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

.ph-bar-text {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    background-color: #4d4d4d;
    padding: 15px;
    
}

.ph-bar {
    height: 100%;
    background-color: #4caf50; /* Verde para el porcentaje */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: width 0.3s ease;
}

.exp-bar-text {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    background-color: #4d4d4d;
    padding: 15px;

}

.exp-bar {
    height: 100%;
    background-color: #4edbee; 
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: width 0.3s ease;
}


.happ-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: 20px;
    background-color: #d8d8d8;/* Fondo gris oscuro */
    border-radius: 15px;
    overflow: hidden;
    margin-top: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

.happ-bar-text {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    background-color: #4d4d4d;
    padding: 15px;
    
}

.happ-bar {
    height: 100%;
    background-color: #e27696; /* Verde para el porcentaje */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: width 0.3s ease;
}

.error-message {
    color: red;
    font-size: 0.9rem; /* Tamaño un poco más pequeño */
    margin-top: 5px; /* Espaciado respecto al selector */
    text-align: left; /* Alineación opcional */
}

